Repository censys/censys-python, pull requests merged in 2022-03, with the labels that each got.

#257 feat(api): Add v2 Risks API
  censys/asm/api.py
  censys/asm/assets/assets.py
  censys/asm/assets/subdomains.py
  censys/asm/clouds.py
  censys/asm/events.py
  censys/asm/risks/__init__.py
  censys/asm/risks/v1.py
  censys/asm/risks/v2.py
  censys/asm/seeds.py
  censys/cli/commands/search.py
  censys/common/base.py
  censys/common/exceptions.py
  censys/search/__init__.py
  censys/search/v2/api.py
  poetry.lock
  pyproject.toml
  tests/asm/test_assets.py
  tests/asm/test_clouds.py
  tests/asm/test_events.py
  tests/asm/test_risks.py
  tests/asm/test_seeds.py
  tests/asm/utils.py
  tests/cli/test_asm.py
  tests/cli/test_search.py
  tests/search/v2/test_hosts.py
Labels: feat: api

#267 chore: Misc cleanup
  .github/CONTRIBUTING.md
  README.md
  censys/asm/client.py
  censys/common/base.py
  examples/README.md
  examples/asm/add_seeds_bulk.py
  tests/asm/utils.py
Labels: type: enhancement, type: documentation

#266 Edit output format options for Search/View CLI
  censys/cli/commands/search.py
  censys/cli/commands/view.py
  censys/cli/utils.py
  docs/usage-cli.rst
  tests/cli/test_search.py
Labels: type: enhancement, feat: cli
